<h1>Add a new Job listing</h1>
<%= simple_form_for @job do |form| %>
  <%= form.input :title, label: "Job title" %>
  <%= form.input :company, label: "Your company" %>
  <%= form.input :url, label: "Link to job" %>
  <%= form.button :submit %>
<% end %>
